html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  main{
    background-color:#f7f9fb;
    width:80vw;
    /* Long form */
    margin-top:40px;
    margin-right:auto;
    margin-bottom:40px;
    margin-left:auto;
   
    margin:40px auto 40px auto;
   
    margin:40px auto;
    border:4px solid #8d8741;
    border-radius:4px;
  }
  header.primary{
    background:#f7f9fb;
    );
    background-size:cover;
    background-repeat: no-repeat;
   padding:20px;
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    border-bottom: 3px solid #659dbd;
    color:#659dbd;
  }