/*
#837c69 light brown
#5c6777 light blue
#362b21 dark brown
57663a green
#4c6c9c blue
*/
html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
 
  .container{
    margin:auto;
    padding:40px;
  }

  image{
    max-width:100%;
    height:auto;
  }
}
main {
  margin: auto;
}
body {
  font-family: "Rubik", sans-serif;
  background-color:#837c69;
}
h1 {
  font-family: georgia;
  font-style: italic;
  font-size: 100px;
  text-shadow:4px 4px white;
  text-align: center;
  margin: 0;
}
h2{
  background-image: url(../img/cover.jpg");
}
