/*
#837c69 light brown
#FDFBEE tan
#5C5B3C brown
#027F60 green
#FDB728 yellow
#FFFFFF white
*/
@import url("https://fonts.googleapis.com/css?family=Poppins:400,400i,700");
html {
  box-sizing: border-box;
  box-sizing: inherit;
}
.container { /* Design Time */
margin: 0 auto;
background: rgba(0, 0, 0, 0.15);
}

image{
  max-width:100%;
  height:auto;
}

.primary {
  font-family: "Rubik", sans-serif;
  background-color:#FDFBEE;
  background-image: url("../img/5.jpg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
}
#wrapper {
  box-sizing: border-box;
  width:80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -20%;
   border:10px solid#FDB728;
   border-radius:4px;
  background-color:#FDFBEE;
  padding:10px;
  margin-bottom:40px;
}
#wrapper-camping{
  box-sizing: border-box;
  width:80%;
  margin-left: auto;
  margin-right: auto;
  border:10px solid#FDB728;
   border-radius:4px;
   background-color:#FDFBEE;
  padding:10px;
}
#wrapper-faq{
  box-sizing: border-box;
  width:80%;
  margin-left: auto;
  margin-right: auto;
  border:10px solid#FDB728;
   border-radius:4px;
   background-color:#FDFBEE;
  padding:10px;
}
header {
  text-align:center;
}
#topnav ul {
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
position:absolute;
top:0;
background-color: #027F60;
width: 100%;
}

nav li {
list-style-type: none;
display: inline-block;
text-align: left;
}
nav input {
  text-align: left;
  border-radius: 25px;
}
h1 {
color: #5C5B3C;
font-family: georgia;
font-style: italic;
font-size: 60px;
text-align: center;
margin: 50px;
padding: 20px
}

nav a {
display: block;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 20px;
color: #FDB728;
}

nav.primary a:active {
color: black;
}

nav.primary a:visited {
color: black;
}

nav.primary a:hover {
color: green;
}
nav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  margin-bottom:5px;
  font-size: 17px;
}
#content {
  padding: 20px;
  font-size: 19px;
}
.video {
  text-align:center;
}
#aside{
  background: #FFFFED;
}
aside .container{
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  font-size: 18px;
}
aside .widget:first-of-type{
  border-right:1px dotted #c0c0c0;
  padding-right:20px;
}
#aside.container{
  background-color: #FFFFED
}
.slick-autoplay-toggle-button,
.slick-prev .slick-prev-icon, .slick-next .slick-next-icon,
.slick-dots li button .slick-dot-icon,
.slick-dots li.slick-active button .slick-dot-icon {
  color: white;
}

/* Customize Previous/Next/Dots/Autoplay - Active State */

.slick-next:focus .slick-next-icon,
.slick-next:focus .slick-prev-icon,
.slick-prev:focus .slick-next-icon,
.slick-prev:focus .slick-prev-icon,
.slick-dots li button:focus .slick-dot-icon:before,
.slick-dots li.slick-active button:focus .slick-dot-icon,
.slick-autoplay-toggle-button:focus 
{
    color:black;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
input{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity:0;
  visibility: 0;
}
h4{
  background:#027F60;
  color:white;
  padding:1em;
  position: relative;
}
label::before{
  content:"";
  display: inline-block;
  border: 15px solid transparent;
  border-left:20px solid white;
}
label{
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
}
div.p{
  max-height:0px;
  overflow: hidden;
  transition:max-height 0.5s;
  background-color: white;
  box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.2);
}
div.p p {
  padding:2em;
}
input:checked ~ h1 label::before{
  border-left:15px solid transparent;
  border-top:20px solid white;
  margin-top:12px;
  margin-right:10px;
}
input:checked ~ h1 ~ div.p{
  max-height:100px;
}
a{
  color:steelblue;
}