html {
  box-sizing: border-box;
  max-height: 100%;
  max-width: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.container{
  margin:auto;
  paddign:40px;
}
img {
  max-width: 100%;
  height: auto;
}
main {
  margin: auto;
}
body {
  background-image: url("../assets/img/pinkbackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
h1 {
  font-family: georgia;
  font-style: italic;
  font-size: 100px;
  text-align: center;
  margin:40px auto 40px auto;
  padding: 20px;
  text-shadow:4px 4px white;
}
nav {
  text-align: left;
}
nav ul li{
  list-style-type: none;
  font-size: 40px;
  font-weight: bold;
  margin-bottom:10px;
}
a {
  text-decoration: none;
}
a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: green;
}

footer {
  font-size: 20px;
  text-align: center;
  float: bottom;
}