html {
  box-sizing: border-box;
  max-height: 100%;
  max-width: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.container{
  margin:auto;

}
img {
  max-width: 100%;
  height: auto;
}
main {
  margin: auto;
}
body {
  background-image: url("../assets/img/pinkbackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h1 {
  font-family: georgia;
  font-style: italic;
  font-size: 50px;
  text-shadow:4px 4px white;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

nav.primary a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 23px;
}

nav.primary a:active {
  color: black;
}

nav.primary a:visited {
  color: black;
}

nav.primary a:hover {
  color: green;
}

footer {
  font-size: 20px;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}