html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

label {
  display: inline-block;
  font-weight: bold;
  text-align: right;
}
.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

body {
  font-family: times new roman;
}

main {
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 300px;
}
.personal, .contact, .meds {
  padding-left: 200px;
  padding-right: 300px;
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: solid gray;
}
.submit {
  padding-top: 20px;
}
input[type="text"],
select {
  width: 100%;
  padding: 3px;
  margin-bottom: 4px;
  box-sizing: border-box;
}

input[type="radio"] {
  margin-right: 5px;
  padding: 5px;
  padding bottom: 2px; 
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}